.cursive {
    font-family: cursive; 
}

body, h1, h2, h3, h4, p, a, .cursive {
    color: white; 
}

a {
    text-decoration: none;
    color: white; 
}

header {
    text-align: center;
    border-bottom: 2px solid #ffffff; 
    padding-bottom: 20px; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('main_pictures/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
  }
  

h3 {
    text-align: center;
    margin-top: 20px; 
}

h4 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: row; 
    margin-top: 20px; 
}

.genre-button {
    text-decoration: none; 
    color: inherit; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre-button div {
    font-weight: bold;
    margin-bottom: 10px; 
}

.button-container div {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container div div {
    margin-top: 10px;
    font-weight: bold;
}

.button-container img {
    width: 300px; 
    height: auto;
    cursor: pointer; 
}
