
* { font-family: Tahoma }
body { margin: 5em 10em 5em 10em }
p { text-align: justify }



h1 {  color: yellow }
li { list-style-type: square; }
#cena {color : red; font-weight: bold;}
.wstęp {font-style: italic;}
td img {border-style: solid; border-color: blue;}
td img :hover{border-color: red; }


h1+h2 {letter-spacing: 5px;}
td[colspan="2"] >p {font-size: small;}
p ~ p {color : gray}
body {background-image: url("book-icon.png"); background-repeat: repeat-y;}

/*
h1 { color: blue }
h1 { color: green }
17. Zostanie zastosowana późniejsza reguła
*/