.cursive {
    font-family: cursive; 
}

header {
    text-align: center;
    border-bottom: 2px solid #ffffff; 
    padding-bottom: 20px; 
}


body {
    background-color: black; 
    color: white; 
}


a {
    color: white; 
    text-decoration: none; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('all_books/fantasy_pictures/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
  }

  
  .book-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.book-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; 
    border: 1px solid white; 
    padding: 10px;
    margin: 20px 0;
    background-color: transparent; 
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2); 
}

.book-item:not(:last-child) {
    border-bottom: 2px solid white;
}

.book-item img {
    width: 100px;
    height: 150px;
    margin-right: 20px; 
    border: 1px solid white; 
    object-fit: cover;
}

.book-info {
    display: flex;
    flex-direction: column;
}

.book-title {
    font-weight: bold;
    font-size: 20px;
}

.book-author,
.book-cost {
    font-size: smaller;
    font-size: 18px;
}

.book-item:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    cursor: pointer; 
}

.back-button {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.back-button img {
    width: 100px;
    height: auto;
    cursor: pointer;

}
.user-info {
    text-align: right;
    padding: 10px;
}

.user-info h3 {
    display: inline;
    margin-right: 20px;
}

.user-info button {
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.user-info button:hover {
    background-color: #555;
}
